
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/AdminDashboard/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminDashboard/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/AdminDashboard/css/magnific-popup.css">
    <link rel="stylesheet" href="~/AdminDashboard/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/AdminDashboard/css/themify-icons.css">
    <link rel="stylesheet" href="~/AdminDashboard/css/nice-select.css">
    <link rel="stylesheet" href="~/AdminDashboard/css/flaticon.css">
    <link rel="stylesheet" href="~/AdminDashboard/css/animate.css">
    <link rel="stylesheet" href="~/AdminDashboard/css/slicknav.css">
    <link rel="stylesheet" href="~/AdminDashboard/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-5">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="~/Resturant/Create">Add Product</a></li>
                                        <li><a href="~/Resturant/UpdateProduct">Update Product</a></li>
                                        <li><a href="~/Resturant/DeleteProduct">Delete Product</a></li>
                                        <li><a href="~/Resturant/ProductDetails">Product Details</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-md-9 col-md-12">
                            <div class="slider_text text-center">
                                <div class="deal_text">
                                    <span>Admin Dashboard</span>
                                </div>
                                <h3>
                                    Adding Products  <br>
                                    Updating
                                </h3>
                                <h4>Deleteing</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- JS here -->
    <script src="~/ِAdminDashboard/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/ِAdminDashboard/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/ِAdminDashboard/js/popper.min.js"></script>
    <script src="~/AdminDashboard/js/bootstrap.min.js"></script>
    <script src="~/AdminDashboard/js/owl.carousel.min.js"></script>
    <script src="~/AdminDashboard/js/isotope.pkgd.min.js"></script>
    <script src="~/AdminDashboard/js/ajax-form.js"></script>
    <script src="~/AdminDashboard/js/waypoints.min.js"></script>
    <script src="~/AdminDashboard/js/jquery.counterup.min.js"></script>
    <script src="~/AdminDashboard/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/AdminDashboard/js/scrollIt.js"></script>
    <script src="~/AdminDashboard/js/jquery.scrollUp.min.js"></script>
    <script src="~/AdminDashboard/js/wow.min.js"></script>
    <script src="~/AdminDashboard/js/nice-select.min.js"></script>
    <script src="~/AdminDashboard/js/jquery.slicknav.min.js"></script>
    <script src="~/AdminDashboard/js/jquery.magnific-popup.min.js"></script>
    <script src="~/AdminDashboard/js/plugins.js"></script>
    <!--contact js-->
    <script src="~/AdminDashboard/js/contact.js"></script>
    <script src="~/AdminDashboard/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/AdminDashboard/js/jquery.form.js"></script>
    <script src="~/AdminDashboard/js/jquery.validate.min.js"></script>
    <script src="~/AdminDashboard/js/mail-script.js"></script>
    <script src="~/AdminDashboard/js/main.js"></script>

</body>

</html>